body {
  background: #fff;
  color: #798a9a;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300; }

.p1-gradient-bg, .thumb .overlay-bg {
  background: -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%); }

.p1-gradient-color {
  background: -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

::-moz-selection {
  background: #000;
  color: #fff; }

h1, h2, h3, h4, h5 {
  color: #2c3e50;
  font-weight: 200; }

a {
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  color: #eccf53; }
  a:hover, a:focus, a:active {
    color: #eccf53;
    text-decoration: none; }

.parent-nav-link-padding, .site-navbar .navbar-nav > li > a {
  padding: 15px 20px !important; }

.site-navbar {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background: none;
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 200;
  background: #fff; }
  .site-navbar .navbar-brand {
    display: inline-block;
    border: 2px solid #fff;
    padding: 5px 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2em; }
    .site-navbar .navbar-brand:hover {
      color: #fff; }
  .site-navbar.bg-light {
    background: transparent !important; }
    @media (max-width: 991.98px) {
      .site-navbar.bg-light {
        background: #fff !important;
        top: 0; }
        .site-navbar.bg-light .navbar-brand {
          display: inline-block;
          font-size: 18px;
          border: 2px solid #000;
          padding: 2px 10px !important;
          color: #000; } }
  .site-navbar .navbar-nav > li > a {
    color: #fff !important;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .1em;
    position: relative;
    text-transform: uppercase;
    letter-spacing: .2em; }
    @media (max-width: 991.98px) {
      .site-navbar .navbar-nav > li > a {
        color: rgba(0, 0, 0, 0.7) !important; } }
  .site-navbar .navbar-nav.active > a {
    color: #f8afbd !important; }
  .site-navbar.scrolled {
    background: #fff;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
    .site-navbar.scrolled.bg-light {
      background: #fff !important; }
    .site-navbar.scrolled .navbar-brand {
      display: inline-block;
      font-size: 18px;
      border: 2px solid #000;
      padding: 2px 10px !important; }
    .site-navbar.scrolled.awake, .site-navbar.scrolled.sleep {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .site-navbar.scrolled.awake {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      background: #fff !important; }
    .site-navbar.scrolled.sleep {
      -webkit-transform: translateY(-90%);
      -ms-transform: translateY(-90%);
      transform: translateY(-90%);
      background: #f8afbd !important; }
    .site-navbar.scrolled .navbar-brand {
      color: #000; }
    .site-navbar.scrolled .dropdown > a:before {
      color: rgba(0, 0, 0, 0.4); }
    .site-navbar.scrolled .navbar-nav > li > a {
      color: rgba(0, 0, 0, 0.7) !important; }
      .site-navbar.scrolled .navbar-nav > li > a:hover {
        color: #f8afbd !important; }
      .site-navbar.scrolled .navbar-nav > li > a.active {
        color: #f8afbd !important; }
    .site-navbar.scrolled .navbar-nav > li.active > a {
      color: #f8afbd !important; }

.site-hero {
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }
  .site-hero, .site-hero .row {
    height: 100vh;
    min-height: 800px; }
  .site-hero:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); }
  .site-hero h1 {
    font-weight: 200;
	font-family: 'Satisfy', cursive;
    margin-bottom: 20px;
    display: block; }
    .site-hero h1 strong {
      font-weight: 800;
	  font-family: 'Satisfy', cursive;	  }
    @media (min-width: 768px) {
      .site-hero h1 {
        font-size: 70px;
        font-family: 'Satisfy', cursive;		} }
  .site-hero h1, .site-hero .lead {
    font-weight: 200;
    color: #fff; }
  .site-hero .lead {
    line-height: 2; }
  .site-hero .site-subheading {
    max-width: 640px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.5); }

.site-section {
  padding: 3em 0; }

.section-heading {
  margin-bottom: 30px;
  position: relative;
  z-index: 10; }
  .section-heading h2 {
    position: relative;
    font-weight: 200;
    padding-top: 20px;
    font-size: 30px; }
    .section-heading h2 strong {
      font-weight: 800; }
    .section-heading h2:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 50px;
      background: #f8afbd;
      z-index: -1; }
  .section-heading.text-center h2:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.lead {
  font-weight: 200;
  line-height: 1.5; }

.site-service-item .icon {
  display: block;
  margin-bottom: 50px;
  background: #edf0f2;
  background: #f8afbd;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  margin: 0 auto 30px auto; }
  .site-service-item .icon span {
    font-size: 40px;
    color: #080b0e;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%; }

.site-service-item h3 {
  font-size: 20px;
  font-weight: 200; }

.site-link {
  position: relative; }
  .site-link i {
    position: relative;
    top: 2px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .site-link:hover i {
    position: relative;
    margin-left: 20px; }

.site-list {
  padding: 0;
  margin: 0; }
  .site-list li {
    margin: 0 0 10px 0;
    padding: 0;
    position: relative;
    list-style: none; }
    .site-list li:before {
      font-family: 'icomoon';
      position: absolute;
      top: .1em;
      left: 0; }
    .site-list li.site-check {
      padding-left: 30px; }
      .site-list li.site-check:before {
        color: #f8afbd;
        font-size: 16px;
        content: "\ebd3"; }

.btn {
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: .1em; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .btn.btn-primary {
    color: #fff; }
    .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
      background: #bda84c; 
	  border-color: #eccf53;}

.btn-primary {
    background-color: #eccf53;
    border-color: #eccf53;
}
	  
.progress {
  overflow: visible;
  margin-bottom: 26px;
  height: 4px; }
  .progress .progress-bar {
    background-color: #f8afbd;
    position: relative;
    border-radius: 4px; }
    .progress .progress-bar span {
      background-color: #f8afbd;
      position: absolute;
      bottom: -20px;
      font-size: 10px;
      line-height: 10px;
      padding: 2px 3px 2px 4px;
      right: -1.4em;
      border-radius: 2px; }
    .progress .progress-bar span:after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #f8afbd;
      border-width: 5px;
      margin-left: -5px; }

.skill h3 {
  font-size: 18px; }

.filters {
  text-align: center; }
  .filters ul {
    padding: 0;
    margin: 0 0 30px 0; }
    .filters ul li {
      display: inline-block;
      cursor: pointer;
      padding: 20px;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .filters ul li:hover {
        color: #f8afbd; }
      .filters ul li.active {
        color: #f8afbd; }

.single-portfolio {
  margin-bottom: 50px;
  display: block; }
  .single-portfolio .relative {
    margin-bottom: 20px; }
  .single-portfolio .p-inner {
    text-align: center; }
    .single-portfolio .p-inner h4 {
      font-size: 20px; }
    .single-portfolio .p-inner .cat {
      font-size: 12px;
      text-transform: uppercase;
      color: #cccccc; }

/*--------- Start Portfolio Area -------------*/
.portfolio-area .primary-btn {
  color: #fff;
  background-color: #f8afbd;
  margin-left: auto;
  margin-right: auto; }

.portfolio-area .filters {
  text-align: center; }

.portfolio-area .filters ul {
  padding: 0; }

.portfolio-area .filters ul li {
  list-style: none;
  display: inline-block;
  padding: 18px 15px;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
  font-weight: 500; }
  @media (max-width: 736px) {
    .portfolio-area .filters ul li {
      padding: 6px 6px; } }

.portfolio-area .filters ul li:after {
  content: "";
  display: block;
  width: calc(0% - 60px);
  position: absolute;
  height: 2px;
  background: #333;
  -webkit-transition: width 350ms ease-out;
  -o-transition: width 350ms ease-out;
  transition: width 350ms ease-out; }

.portfolio-area .filters ul li:hover:after {
  width: calc(100% - 60px);
  -webkit-transition: width 350ms ease-out;
  -o-transition: width 350ms ease-out;
  transition: width 350ms ease-out; }

.portfolio-area .filters ul li.active {
  color: #f8afbd; }

.portfolio-area .filters-content {
  margin-top: 50px; }

.portfolio-area .filters-content .show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms; }

.portfolio-area .filters-content .hide {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms; }

.portfolio-area .filters-content .item {
  text-align: center;
  cursor: pointer;
  margin-bottom: 30px; }

.portfolio-area .filters-content .item img {
  border-radius: 10px; }

.portfolio-area .filters-content .p-inner {
  padding: 20px 0px;
  text-align: center; }

.portfolio-area .filters-content .item .p-inner .cat {
  font-size: 13px; }

.portfolio-area .filters-content .item img {
  width: 100%; }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.middle {
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.single-portfolio:hover .middle {
  opacity: 1; }

.text {
  color: white;
  font-size: 25px;
  padding: 16px 32px; }

.single-portfolio {
  border-radius: 5px; }
  .single-portfolio:hover .thumb .overlay-bg {
    opacity: .85; }

.thumb .overlay-bg {
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media screen and (prefers-reduced-motion: reduce) {
    .thumb .overlay-bg {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }

.resume-item {
  padding: 40px;
  background: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  border: 4px solid transparent; }
  .resume-item:hover, .resume-item:focus {
    border: 4px solid #f8afbd;
    -webkit-box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1); }
  .resume-item .date {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: .1em;
    color: #b3bdc6;
    text-transform: uppercase; }
  .resume-item .school {
    display: block;
    font-size: 20px; }
  .resume-item h3, .resume-item .school {
    color: #2c3e50; }

.blog-entry {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  position: relative;
  top: 0;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1); }
  .blog-entry:hover, .blog-entry:active, .blog-entry:focus {
    -webkit-box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.1);
    top: -2px; }
  .blog-entry .blog-entry-text {
    border-top: none;
    padding: 30px; }
    .blog-entry .blog-entry-text h3 {
      font-size: 20px;
      margin-bottom: 10px;
      line-height: 1.5; }
      .blog-entry .blog-entry-text h3 a {
        color: #2c3e50; }
        .blog-entry .blog-entry-text h3 a:hover {
          color: #f8afbd; }
  .blog-entry .meta {
    font-size: 14px; }
    .blog-entry .meta a {
      display: inline-block;
      margin-right: 10px;
      color: #96a3b0; }
      .blog-entry .meta a:hover {
        color: #f8afbd; }

.form-control {
  border: none !important;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) !important; }

.site-form .form-control {
  border: 1px solid #b3bdc6; }

.site-contact-details, .site-contact-details li {
  padding: 0;
  margin: 0; }

.site-contact-details li {
  list-style: none;
  margin-bottom: 20px; }
  .site-contact-details li > span {
    color: #2c3e50;
    letter-spacing: .1em;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block; }

.site-footer {
  padding: 3em 0; }
  .site-footer p:last-child {
    margin-bottom: 0; }
  .site-footer .social-item {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid #b3bdc6;
    position: relative;
    border-radius: 50%;
    font-size: 22px;
    margin: 0 10px; }
    .site-footer .social-item > span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.block-47 .block-47-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
  display: block; }
  .block-47 .block-47-image img {
    border: 5px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2); }

.block-47 .block-47-quote {
  margin-left: 40px;
  padding: 30px;
  background: #fff;
  border-radius: 7px;
  position: relative;
  -webkit-box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1); }
  .block-47 .block-47-quote:before {
    content: "";
    border: 1px solid red;
    z-index: 2;
    position: absolute;
    left: -15px;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: transparent #fff transparent transparent; }
  .block-47 .block-47-quote .block-47-quote-author {
    font-size: 14px;
    color: #666666; }
	
	
	.navbar-toggler {
    background-color: #bda84c;}
	
	.navbar-light .navbar-toggler-icon {
        background-color: #bda84c;}

#instafeed a {
  padding:5px 5px 1px 5px;
  margin:10px;
  border:1px solid #e1e1e1;
  display:inline-block;
  border-radius: 4px;
  position:relative;
}

#instafeed .likes {
  background:rgba(10,100,105,0.8);
  font-family:sans-serif;
  font-size:1em;
  position:absolute;
  color:#fff;
  right:5px;
  top:5px;
  left:5px;
  opacity:0;
  text-align:center;
  line-height:150px;
  text-shadow:0 1px rgba(0,0,0,0.5);
  -webkit-font-smoothing:antialiased;
  -webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	-ms-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

#instafeed a:hover .likes {
  opacity:1;
}


.social-grids{
    float: right;
}
.social-grids ul {
    padding: 0;
    margin: 0;
}
.social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.social-grids ul li a i.fa.fa-facebook, .social-grids ul li a i.fa.fa-instagram, .social-grids ul li a i.fa.fa-envelope{
    height: 28px;
    width: 28px;
    border: solid 1px #FFFFFF;
    line-height: 28px;
    background: none;
    color: #FFFFFF;
	font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.social-grids  ul li {
	margin:0 1em 0 0!important;
}
.social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 1px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.social-grids ul li a i.fa.fa-instagram:hover{
	border: solid 1px #dc2a7b;
	background:#dc2a7b;
	color: #FFFFFF;
}
.social-grids ul li a i.fa.fa-envelope:hover{
	border: solid 1px #f26522;
	background:#f26522;
	color: #FFFFFF;
}

/*-- //to-top --*/
.social-grids {
    float: right;
    position: absolute;
    right: 32px;
    top: 35px;
}


.mobileShow {display: none;} 

/* Smartphone Portrait and Landscape */ 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){ 
  .mobileShow {display: inline;}
}

/* Smartphone Portrait and Landscape */ 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){ 
  .noMobile {display: none;}
}



/* responsive design */
@media screen and (max-width: 1920px){
	.rw-sentence {
		margin-left: 230px;
	}
}
@media screen and (max-width: 1440px){
	.footer-right {
		padding: 4.3em 12em 6em 7em;
	}
	.rw-sentence {
		margin-left: 150px;
	}
}
@media screen and (max-width: 1366px){
	.rw-sentence {
		margin-left: 80px;
	}
	.gallery_txt {
		padding: 7em 0 0;
	}
}
@media screen and (max-width: 1280px){
	.banner-title h3 {
		font-size: 6em;
	}
	.banner-title {
		padding: 12em 0;
	}
	.rw-sentence span {
		font-size: 45px;
	}
	section#subscribe {
		margin-bottom: 2em;
	}
	.gallery_txt {
		padding: 6em 0 0;
	}
}
@media screen and (max-width: 1080px){
	.social-grids {
		top: -35px;
	}
	.top-nav ul {
		margin-top: 60px;
	}
	.header-left {
		width: 26%;
	}
	.top-nav ul li {
		margin: 0 .9em;
	}
	.banner-title a {
		width: 25%;
	}
	.rw-sentence {
		margin-left: 15px;
	}
	.banner-title {
		padding: 10em 0;
	}
	.resp-tabs-list li {
		margin: 0px 100px;
	}
	.demo h3.title {
		margin-left: 40px;
	}
	h3.title.ab {
		margin-left: 240px;
	}
	h3.title.ab1 {
		margin-left: 444px;
	}
	h3.title.ab2 {
		margin-left: 650px;
	}
	.last-grid1 h3 {
		padding: 27px 10px;
	}
	.customer-grid p:after {
		top: 84.4%;
	}
	.footer-left {
		padding: 4em 6em 1.5em 6em;
	}
	.footer-right {
		padding: 4.3em 6em 6em 6em;
	}
	.header-left {
		width: 26%;
	}
}
@media screen and (max-width: 1050px){
	.footer-left {
		padding: 4em 5em 1.5em 5em;
	}
	.rw-sentence {
		margin-left: 5px;
	}
	.gallery_txt {
		padding: 5em 0 0;
	}
}
@media screen and (max-width: 1024px){
	.banner-title h3 {
		font-size: 6em;
	}
	.rw-sentence span {
		font-size: 40px;
	}
	.agile_map_grid {
		width: 45%;
	}
	.footer-left {
		padding: 4em 4em 1.5em 6em;
	}
	.gallery_txt {
		text-align: center;
		padding: 5em 0 0;
	}
	.menu, .demo, .gallery, .customer .dottedEffect, .ourchefs {
		padding: 3em 0;
	}
	.customer-grid h4 {
		margin: 3em 0 0;
	}
	.social-grids {
		top: -19px;
	}
	ul.nav.navbar-nav {
		position: absolute;
		left: 21%;
	}
}
@media screen and (max-width: 991px){
	.resp-tabs-list li {
		margin: 0px 75px;
	}
	.demo h3.title {
		margin-left: 20px;
	}
	h3.title.ab {
		margin-left: 170px;
	}
	h3.title.ab1 {
		margin-left: 320px;
	}
	h3.title.ab2 {
		margin-left: 470px;
	}
	.menugrid {
		width: 50%;
		float: left;
	}
	.innergrid {
		width: 50%;
		float: left;
	}
	.list li {
		width: 90%;
	}
	.gallery_grid {
		width: 25%;
		float: left;
	}
	.client-img img {
		left: 26%;
	}
	.customer-grid p:after {
		top: 88.4%;
	}
	.footer-left,.footer-right {
		padding: 3em 12em;
	}
	.gallery_grid {
		width: 33.33%;
		float: left;
	}
	.grid {
		width: 50%;
		float: left;
	}
	.gallery_txt {
		padding: 7em 0 0;
	}	
}
@media screen and (max-width: 900px){
	.header-left {
		width: 27%;
	}
	.top-nav ul {
		margin-top: 57px;
	}
	.top-nav ul li {
		margin: 0 .5em;
	}
	.banner-title a {
		width: 30%;
	}
	.rw-sentence {
		margin-left: 0;
	}
	.rw-sentence span {
		font-size: 37px;
	}
	.ser-img {
		width: 50%;
	}
	.ser-img1 {
		width: 40%;
	}
	.ser-info {
		width: 100%;
	}
	.gallery_txt {
		padding: 6em 0 0;
	}
}
@media screen and (max-width: 800px){
	.banner-title h3 {
		font-size: 5.6em;
	}
	.rw-sentence span {
		font-size: 33px;
	}
	.about-2 {
		float: none;
		width: 100%;
	}
	.about-info2 {
		float: none;
		width: 100%;
	}
	.grid {
		width: 100%;
		text-align: center;
		margin: 20px 0;
	}
	ul.nav.navbar-nav {
		left: 16%;
	}
	.gallery_txt {
		padding: 5em 0 0;
	}
}
@media screen and (max-width: 768px){
	
	.carousel-inner > .item > img {height:100%}
	h2.resp-accordion {
		padding: 25px 15px;
	}
	h3.title.ab,h3.title.ab1,h3.title.ab2 {
		margin-left: 0;
		text-align: center;
	}
	.footer-left, .footer-right {
		padding: 3em 7em;
	}
	.social-grids {
		top: -24px;
	}
	.resp-tab-active {
		border-radius: 0;
	}
	.agile_map_grid {
		left: 22%;
		width: 60%;
	}
	.hi-icon:before {
		font-size: 25px;
		line-height: 70px;
	}
	.hi-icon {
		width: 65px;
		height: 65px;
	}
}
@media screen and (max-width: 736px){
	
	.carousel-inner > .item > img {height:100%}
	.header-left {
		width: 30%;
	}
	.navbar-toggle {
		float: none;
	}
	.banner-title a {
		width: 40%;
		margin: 4em auto 0;
	}
	.rw-sentence {
		margin-left: 0;
		line-height: 50px;
		text-align: center;
	}
	.banner-title {
		padding: 7em 4em;
	}
	.agile_map_grid {
		left: 36%;
		width: 60%;
	}
	
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #e22061;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.social-grids {
		top: -22px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	.top-nav nav ul li {
		display: block;
		float: none;
		text-align:center;
	}
	.navbar-nav {
		float: none;
	}
	.top-nav ul li {
		margin: 1em 0;
	}
	.top-nav ul li a {
		font-size: 1.3em;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		background: rgba(0, 0, 0, 0.55);
		position: absolute;
		width: 100%;
		z-index: 9;
	}
	ul.nav.navbar-nav {
		margin-top: 1em;
	}
	.form-control {
		height: 100px;
	}
	.footer-left h3 {
		font-size: 29px;
		word-spacing: 6px;
	}
	.navbar-toggle {
		border-radius: 0px;
	}
	ul.nav.navbar-nav {
		position: static;
		left: auto;
	}
}
@media screen and (max-width: 667px){
	
	.carousel-inner > .item > img {height:100%}
	.header-left {
		width: 33%;
	}
	.ser-img {
		width: 100%;
	}
	.menugrid {
		width: 100%;
		float: none;
	}
	.innergrid {
		width: 100%;
		float: none;
	}
	.social-grids {
		right: 10px;
	}
	.banner-title a {
		width: 47%;
	}
	.ser-img h3, .about-2 h3 {
		font-size: 19px;
	}
	.menu-grids {
		margin-top: 20px;
	}
	.gallery_txt {
		text-align: center;
		padding: 7em 0 0;
	}
	.client-img img {
		left: 23%;
	}
	.customer-grid p:after {
		top: 91%;
	}
	.ser-top h3, .heading h3, .gallery_head h3, .customer h3 {
		margin-bottom: 1em;
		margin-top: 1em;
	}
	.agile_map_grid {
		left: 26%;
		width: 68%;
	}
	.gallery_grid {
		width: 50%;
		float: left;
	}
}
@media screen and (max-width: 384px){
	
	.carousel-inner > .item > img {height:100%}
	  .carousel {
    margin-bottom: 7%;
  }   
  .carousel-indicators {
    bottom: auto;
    top: 105%;
  }
	.header-left {
		width: 36%;
	}
	.social-grids {
		top: -22px;
	}
	.banner-title {
		padding: 5em 0em;
	}
	.resp-tab-active {
		border-radius: 0;
	}
	.menu-grids {
		margin-top: 15px;
	}
	.ser-img h3, .about-2 h3 {
		font-size: 17px;
	}
	.ser-img p, .about-2 p {
		margin-top: 2px;
	}
	.client-img img {
		left: 20%;
	}
	.customer-grid p:after {
		top: 92.6%;
		left: 33%;
	}
	.footer-left, .footer-right {
		padding: 3em;
	}
	.menu, .demo, .gallery, .customer .dottedEffect, .ourchefs {
		padding: 2em 0;
	}
	.gallery_txt {
		padding: 6em 0 0;
	}
	
}
@media screen and (max-width: 568px){
	
	.carousel-inner > .item > img {height:100%}
	.banner-title a {
		width: 45%;
	}
	.customer-grid p:after {
		top: 93.4%;
	}
	.footer-left, .footer-right {
		padding: 3em 4em;
	}
}
@media screen and (max-width: 480px){
	
	.carousel-inner > .item > img {height:100%}
	.header-left {
		width: 50%;
	}
	.navbar-header {
		text-align: center;
		margin-top: 4em;
	}
	.banner-title h3 {
		font-size: 2.2em;
	}
	.rw-sentence span {
		font-size: 27px;
	}
	.rw-sentence {
		line-height: 30px;
	}
	.banner-title a {
		width: 50%;
	}
	.ser-top h3, .heading h3, .gallery_head h3, .customer h3 {
		font-size: 28px;
		margin-bottom: 1em;
	}
	.chef h3 {
		font-size: 20px;
	}
	.chef p {
		letter-spacing: 2px;
		font-size: 16px;
	}
	.client-img img {
		left: 36%;
	}
	.customer-grid p:after {
		top: 79.2%;
	}
	.footer-left, .footer-right {
		padding: 3em 2em;
	}
	.copyright-agile {
		padding: 20px 10px;
	}
	.copyright-agile p {
		line-height: 26px;
	}
	.resp-tab-content {
		padding: 0px;
	}
	.gallery_txt {
		padding: 4.5em 0 0;
	}
}
@media screen and (max-width: 414px){
	
	.carousel-inner > .item > img {height:100%}
	.customer-grid p:after {
		top: 82%;
	}
	.social-grids ul li {
		margin: 0 .51em 0 0!important;
	}
	.banner-title a {
		width: 58%;
	}
	.gallery_txt h3 {
		font-size: 1.2em;
	}
	.agile_map_grid {
		width: 100%;
		position: static;
	}
	.agile_map_grid1 {
		padding: 1em 1em;
	}
	.agile_map_grid ul li {
		letter-spacing: 1px;
	}
	.map iframe {
		min-height: 300px;
	}
}
@media screen and (max-width: 384px){
	
	.carousel-inner > .item > img {height:100%}
	.header-left {
		width: 100%;
	}
	.social-grids {
		right: 15px;
	}
	.top-nav {
		float: center;
	}
	.banner-title a {
		width: 65%;
	}
	.ser-img h3, .about-2 h3 {
		font-size: 16px;
	}
	.ser-img p, .about-2 p {
		margin-top: 15px;
		margin-bottom: 0px;
	}
	.gallery_grid {
		width: 100%;
		float: none;
	}
	.customer-grid p:after {
		top: 84%;
	}
	label.header {
		font-size: 14px;
	}
	.form-control {
		height: 78px;
	}
	.footer-left h3 {
		font-size: 26px;
		margin-bottom: 15px;
		word-spacing: 6px;
	}
	section#subscribe {
		margin-bottom: 1em;
	}
	.subscribe h3, .footer-right h4 {
		font-size: 18px;
		margin-bottom: 15px;
		letter-spacing: 2px;
	}
	.gallery_txt h3 {
		font-size: 2em;
	}
	.gallery_txt {
		padding: 8em 0 0;
	}
}
@media screen and (max-width: 320px){
	.social-grids {
		top: 31px;
		right: 70px;
	}
	.banner-title a {
		width: 70%;
		letter-spacing: 2px;
		padding: .4em;
	}
	.client-img img {
		left: 29%;
	}
	.customer-grid p:after {
		top: 86%;
	}
	.form-control {
		height: 80px;
	}
	.gallery_txt {
		padding: 6em 0 0;
	}
	.banner-title {
		padding: 2em 0em;
	}
	h2.resp-accordion {
		margin: 0px 1em 0px 0em;
	}
	.carousel-inner > .item > img {height:100%}

}
@media screen and (max-width: 1440px){
	
}
	
	
.dottedEffect{
	background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
	padding: 1em 0;
}
	